{% extends 'blog/base.html' %}

{% block container %}

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">leo的博客</h1>
        <p class="lead blog-description">博客的介绍</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

            {% for blog in blogs %}
                <div class="blog-post">
                    <h2 class="blog-post-title"><a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></h2>
            <p class="blog-post-meta">{{ blog.create_time }} </p>
                <p>{{ blog.abstract }}<a href="{% url 'blog_detail' blog.id %}"> 阅读更多</a></p>
                <div>
                    阅读({{ blog.read_num }})
                    评论({{ blog.comment_num }})
                </div>
          </div><!-- /.blog-post -->
            {% endfor %}


          <nav>
              {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>

              {% endif %}
              </ul>
          </nav>

        </div><!-- /.blog-main -->


        {# 侧边栏 #}
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于作者</h4>
            <p>李建舜：毕业于浙江师范大学，目前在宁波工作。</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="http://v3.bootcss.com/examples/blog/#">March 2014</a></li>
              <li><a href="http://v3.bootcss.com/examples/blog/#">February 2014</a></li>
              <li><a href="http://v3.bootcss.com/examples/blog/#">January 2014</a></li>
              <li><a href="http://v3.bootcss.com/examples/blog/#">December 2013</a></li>
              <li><a href="http://v3.bootcss.com/examples/blog/#">November 2013</a></li>
              <li><a href="http://v3.bootcss.com/examples/blog/#">October 2013</a></li>
              <li><a href="http://v3.bootcss.com/examples/blog/#">September 2013</a></li>
              <li><a href="http://v3.bootcss.com/examples/blog/#">August 2013</a></li>
              <li><a href="http://v3.bootcss.com/examples/blog/#">July 2013</a></li>
              <li><a href="http://v3.bootcss.com/examples/blog/#">June 2013</a></li>
              <li><a href="http://v3.bootcss.com/examples/blog/#">May 2013</a></li>
              <li><a href="http://v3.bootcss.com/examples/blog/#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/leo493852107">GitHub</a></li>
              <li><a href="mailto:leo493852107@163.com">163 Mail</a></li>
              <li><a href="mailto:493852107@qq.com">QQ Mail</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

{% endblock %}