{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block container %}

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">leo的博客</h1>
        <p class="lead blog-description">博客的介绍</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

            {% for blog in blog_list %}
                <div class="blog-post">
                    <h2 class="blog-post-title"><a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a></h2>
            <p class="blog-post-meta">{{ blog.create_time }} </p>
                <p>{{ blog.excerpt }}<a href="{% url 'blog:detail' blog.id %}"> 阅读更多</a></p>
                <div>
                    阅读({{ blog.read_num }})
                    评论({{ blog.comment_num }})
                </div>
          </div><!-- /.blog-post -->
            {% endfor %}

          <nav>
              {% if is_paginated %}
                  <div class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% if first %}
                        <li><a href="?page=1" class="active">1</a></li>
                    {% endif %}
                    {% if left %}
                        {% if left_has_more %}
                            <li><span>...</span></li>
                        {% endif %}
                        {% for i in left %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    {% endif %}
                  <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                  {% if right %}
                        {% for i in right %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                      {% if right_has_more %}
                          <li><span>...</span></li>
                      {% endif %}
                  {% endif %}
                  {% if last %}
                      <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                  {% endif %}
                  {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </div>
              {% endif %}
              </ul>
          </nav>

      </div><!-- /.row -->

        {# 侧边栏 #}
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于作者</h4>
            <p>李建舜：毕业于浙江师范大学，目前在宁波工作。</p>
          </div>
          <div class="sidebar-module">
            <h3 class="widget-title">最新文章</h3>
              {% get_recent_blogs as recent_blog_list %}
              <ul>
                  {% for recent_blog in recent_blog_list %}
                      <li>
                        <a href="{{ recent_blog.get_absolute_url }}">{{ recent_blog.title }}</a>
                      </li>
                      {% empty %}
                      暂无文章！
                  {% endfor %}

              </ul>
          </div>
          <div class="sidebar-module">
            <h3 class="widget-title">归档</h3>
              {% archives as date_list %}
              <ul>
                  {% for date in date_list %}
                      <li>
                        <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }}年{{ date.month }}月</a>
                      </li>
                      {% empty %}
                      暂无归档！
                  {% endfor %}

              </ul>
          </div>
        <div class="sidebar-module">
            <h3 class="widget-title">分类</h3>
              {% get_categories as categories %}
              <ul>
                  {% for category in categories %}
                      <li>
                        <a href="{% url 'blog:category' category.pk %}">{{ category.name }} <span class="blog-post">(13)</span></a>
                      </li>
                      {% empty %}
                      暂无分类！
                  {% endfor %}

              </ul>
        </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.blog-main -->


    </div><!-- /.container -->

{% endblock %}