{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block container %}

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">leo的博客</h1>
        <p class="lead blog-description">博客的介绍</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title">{{ object.title }}</h2>
            <p class="blog-post-meta">{{ object.create_time }}</p>
            <p>{{ object.abstract }}</p>
            <hr>
            <div>{{ object.content|safe }}</div>
            <hr>
            <div>
                    阅读({{ object.read_num }})
                    评论({{ object.comment_num }})
            </div>
          </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

{# 侧边栏 #}
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于作者</h4>
            <p>李建舜：毕业于浙江师范大学，目前在宁波工作。</p>
          </div>
          <div class="sidebar-module">
            <h3 class="widget-title">最新文章</h3>
              {% get_recent_blogs as recent_blog_list %}
              <ul>
                  {% for recent_blog in recent_blog_list %}
                      <li>
                        <a href="{{ recent_blog.get_absolute_url }}">{{ recent_blog.title }}</a>
                      </li>
                      {% empty %}
                      暂无文章！
                  {% endfor %}

              </ul>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/leo493852107">GitHub</a></li>
              <li><a href="mailto:leo493852107@163.com">163 Mail</a></li>
              <li><a href="mailto:493852107@qq.com">QQ Mail</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

{% endblock %}